###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
#* text eol=lf
*.sln           text eol=crlf
*.vcproj        text eol=crlf
*.vcxproj       text eol=crlf
*.vcxproj.filters text eol=crlf
*.rc            text eol=crlf
*.csproj        text eol=crlf
*.bat 			text eol=crlf

*.h             text eol=lf
*.hpp           text eol=lf
*.ipp           text eol=lf
*.cpp           text eol=lf
*.cxx           text eol=lf
*.c             text eol=lf
*.inl           text eol=lf
*.lua           text eol=lf
*.cmake         text eol=lf
*.txt           text eol=lf
*.md            text eol=lf
*.gitignore     text eol=lf
*.gitattributes     text eol=lf
*.gitmodules        text eol=lf
*.xml           text eol=lf
*.json          text eol=lf
*.py            text eol=lf
*.html          text eol=lf
